
.logo {
  width: 12.3rem;
  height: 5rem;
}

nav {
  background-color: #a41f20;
  color: #fff;
}
header img {
  margin-top: 3.125rem;
  width: 100%;
  height: 44.7rem;
}
#icono {
  background-color: #999999;
  width: 100%;
  height: 1.875rem;
  padding-top: 0.438rem;
  color: white;
}
#inicio {
  background-color: white;
  color: black;
}

footer {
  background-color: #a41f20;
}
footer i {
  font-size: 2.5rem;
}
footer a {
  text-decoration: none;
  outline: none;
  color: #fff;
}
* {
  margin: 0;
  padding: 0%;
}
#buttonEnviar {
  background-color: #fff;
}

footer h4{
  color:#fff;
}

.mail{
  color: #fff;
}

.carousel-item .row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-control-prev-icon {
  background-color: #999999;
  background-size: 100%, 100%;
  margin-right: 100px;
}
.carousel-control-next-icon {
  background-color: #999999;
  background-size: 100%, 100%;
  margin-left: 100px;
}


